<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Admin Login</h2>
        <form method="post">
            <div class="form-group">
                <label for="password" style="color: black; margin-top: 50%;">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="message" style="display: none; color: red;">
            <p>Incorrect password, please try again.</p>
        </div>
    </div>

    <script>
        const ADMIN_PASSWORD = 'password';
        
        document.querySelector('form').addEventListener('submit', function (event) {
            const password = document.getElementById('password').value;
            if (password !== ADMIN_PASSWORD) {
                event.preventDefault();
                document.querySelector('.message').style.display = 'block';
            } else {
                document.querySelector('.message').style.display = 'none';
            }
        });
    </script>
</body>
</html>
